@import url('https://fonts.googleapis.com/css?family=Montserrat|Seaweed+Script&display=swap');

*{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat';
	text-transform: uppercase;
}

.hero{
	background-image: url(img/bg.jpg);
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.secimg {
    background-image: url(img/banner.png);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.logo {
    position: relative;
    padding-left: 155px;
    width: 73%;
    top: 2%;
}

.logo h1 {
    width: 71%;
    height: 8vh;
    font-family: 'Seaweed Script';
    color: #1d1b1b;
    background-color: white;
    border: none;
    border-radius: 20px;
    font-size: -webkit-xxx-large;
    text-transform: capitalize;
    animation: logoslide 2s;
}

span.colchange {
    color: #d44a39;
}

.cont h2 {
    position: absolute;
    top: 35%;
    padding-left: 30px;
    font-size: unset;
    color: #1d1b1b;
    animation: slidetop1 2s;
}

span.colchange1 {
/*    background-color: white;
    color: #d24837;
*/    font-family: 'Seaweed Script';
    font-size: 42px;
    text-transform: capitalize;s
}

.logo {
    position: relative;
    width: 75%;
    left: -14%;
    top: 2%;
    text-align: center;
}

button.explore {
    position: absolute;
    top: 52%;
    margin-left: 6%;
    border: none;
    color: #d44a39;
    background-color: #1d1b1b;
    font-family: 'Montserrat';
    border-radius: 24px;
    width: 15%;
    font-size: unset;
    padding: 15px;
    cursor: pointer;
    animation: slideright 2s;
}

button.explore:hover {
    color: #1d1b1b;
    background-color: white;
}

.cont1 {
    width: 15%;
    float: right;
    color: #d34938;
    position: relative;
    top: 60%;
    text-align: right;
    font-size: unset;
    margin-right: 24px;
    animation: slidetop 2s;
}

span.colchange2 {
    text-transform: capitalize;
    font-family: 'Seaweed Script';
    font-size: 42px;
    position: relative;
}

span.spanslide {
    position: relative;
}

@keyframes slidetop1{
	0%{top: 13%; opacity: 0;}
}

@keyframes slideright{
	0%{margin-left: -15px; opacity: 0;}
}

@keyframes slidetop{
	0%{    top: 35%; opacity: 0;}
}

@keyframes logoslide{
	0%{width: 30%; opacity: 0;}
}

















label .menu {
  position: absolute;
  right: 0%;
  top: 0%;
  z-index: 100;
  width: 150px;
  height: 150px;
  background: #666666d6; 
  border-radius: 50% 50% 50% 50%;
 -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  box-shadow: 0 0 0 0 #D34938, 0 0 0 0 #D34938;
  cursor: pointer;
}

label .hamburger {
  position: absolute;
  top: 75px;
  left: 59px;
  width: 30px;
  height: 2px;
  background: #D34938;
  display: block;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

label .hamburger:after, label .hamburger:before {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #D34938;
}

label .hamburger:before { top: -10px; }

label .hamburger:after { bottom: -10px; }

label input { display: none; }

label input:checked + .menu {
  box-shadow: 0 0 0 100vw #66666691, 0 0 0 100vw #66666691;
  border-radius: 0;
}

label input:checked + .menu .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

label input:checked + .menu .hamburger:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;
}

label input:checked + .menu .hamburger:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
}

label input:checked + .menu + ul { opacity: 1; }

label ul {
  z-index: 200;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: .25s 0s ease-in-out;
  transition: .25s 0s ease-in-out;
}
ul {
    list-style: none;
}

label a {
  margin-bottom: 1em;
  display: block;
  color: white;
  text-decoration: none;
}
